<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="main">
      <ion-icon name="menu"></ion-icon>
    </button>
    <app-buttons></app-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <message-item isError="true"></message-item>
  <ion-card>
    <ion-card-content fancy-text>
      This is the introduction page! Below, you will find list of exercise set that others have shared with you. There is also a list of
      exercise sets you have shared but that have not been accepted by the recipient. 
    </ion-card-content>
  </ion-card>

  <div>
    <ion-segment [(ngModel)]="whichSet">
      <ion-segment-button value="received">
        Received
      </ion-segment-button>
      <ion-segment-button value="shared">
        Shared
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="whichSet"  class="sharing-list">

      <ion-list *ngSwitchCase="'received'">
        <ion-list-header>Exercise sets shared with you</ion-list-header>
        <ion-item *ngFor="let set of receivedExerciseSets; let idx = index">
          <button ion-button (click)="accept(idx)" color="primary" small item-left>
              <ion-icon name="checkmark"></ion-icon></button>
          <button ion-button (click)="reject(idx)" color="danger" small item-left>
              <ion-icon name="trash"></ion-icon>
          </button>
          {{ set.name + "  (from " + set.receiverName + ") " + set.comments }}
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'shared'">
        <ion-list-header>Exercise sets you have shared</ion-list-header>
        <ion-item *ngFor="let set of sharedExerciseSets; let idx = index">
          <button ion-button (click)="withdraw(idx)" color="danger" small item-left>
              <ion-icon name="trash"></ion-icon>
          </button>
          {{ set.name + "  (to " + set.receiverName + ") " + set.comments}} 
        </ion-item>
      </ion-list>

    </div>
  </div>
</ion-content>
