/* Coolors Exported Palette - coolors.co/52489c-4062bb-59c3c3-eadcdc-f45b69 */

/* HSL */
$color1: hsla(247%, 37%, 45%, 1);
$color2: hsla(223%, 49%, 49%, 1);
$color3: hsla(180%, 47%, 56%, 1);
$color4: hsla(0%, 25%, 89%, 1);
$color5: hsla(355%, 87%, 66%, 1);

/* RGB */
$color1: rgba(82, 72, 156, 1);
$color2: rgba(64, 98, 187, 1);
$color3: rgba(89, 195, 195, 1);
$color4: rgba(234, 220, 220, 1);
$color5: rgba(244, 91, 105, 1);