// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
@import url('https://fonts.googleapis.com/css?family=Lemonada');

$c1: rgba(64, 98, 187, 1);
$c2: rgba(89, 195, 195, 1);
$c3: rgba(244, 91, 105, 1);
$c4: rgba(200, 220, 220, 1);
$c5: rgba(234, 220, 220, 1);
$c6: rgba(82, 72, 156, 1);

$colors: (
  primary:    $c1,
  secondary:  $c2,
  danger:     $c3,
  editing:    $c4,
  light:      $c5,
  dark:       $c6,
  favorite:   #69BB7B,
  button1:    #63B249,
  button2:    #5AA243,
  button3:    #52923C,
  fancy-color: #000
);

$fancy-font: 'Lemonada', cursive;

.remaining-exercise-sets {
  color: color($colors, secondary);
  font-size: .9em;
}

.error-box {
  color: $background-color !important;
  background-color: color($colors, danger) !important;
}

ion-title {
  font-family: $fancy-font;
}

[fancy-text] {
  font-family: $fancy-font;
  color: color($colors, secondary);
}

.editing-on {
  background-color: color($colors, editing);
}

.editing-off {
  background-color: color($colors, light);
}

.editor-buttons > button {
  font-family: courier;
  font-weight: bold;
}

.exercise-container {
    position: relative;
}

.radio-selection {
  font-size: 1.4rem;
}

.sized-modal {
  height: auto !important;
}

$alert-ios-radio-label-padding: 7px;
$alert-md-radio-label-padding: 7px 26px;
$alert-wp-radio-label-padding: 7px 26px;
$modal-inset-height-small: 250px;

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
